html
    head
        meta(charest='utf-8')
        link(rel='stylesheet',href='style.css')
        style.
            .col{
                color:skyblue;
                size:30px;
            }
    body
        div.col.size#abc
            span=name
        ul.list
            each item in arr["sugGoods"][0]["skus"]
                li=item.sugGoodsName
        script.
            window.onload=()=>{
                alert(1);
            }
        script(src="jq.js")